.container {
  padding: 0 2rem;
}

.main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 4rem 0;

  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media screen and (max-width: 1680px) {
  .main {
  }
}

@media screen and (max-width: 768px) {
  .main {
  }
}

@media (max-width: 600px) {
}

@media screen and (max-width: 425px) {
  .main {
  }
}

